/*- RESET -*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Source+Code+Pro:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
}
::-webkit-scrollbar {width: 8px; background-color: var(--black);}
::-webkit-scrollbar-thumb {background-color: var(--red-dark);}
html {
   scroll-behavior: smooth;
}
body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  background-image: url('../img/header-texture.png');
  background-size: 21%;
}

a {
  color: var(--yellow);
  opacity: 0.9;
}
a:hover {
  opacity: 1;
}

/* -- GO TOP -- */
.gotop {
  display: none;
  opacity: 0.8;
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--pink-dark);
  bottom: 60px;
  right: 60px;
  z-index: 999;
  text-align: center;
  cursor: pointer;
}
.gotop span {
  font-size: 21px;
  line-height: 45px;
  color: var(--white);
}
@media (max-width: 760px) {
  .gotop {
     bottom: 35px;
     right: 28px;
  }
}