/* STYLE BODY */
:root {
  --pink: #EBBAB9;
  --pink-dark: #f45d69;
  --red: #F13030;
  --red-dark: #5A0001;
  --yellow: #FF9800;
  --white: #F7F7F7;
  --black: #263238;
  --grey: #212121;
  --black-off: rgba(0,0,0,0.3);
  --black-on: rgba(14, 14, 14, 0.3);
  --blue: #A8E7F7;
  
  --shadow: 0 0 14px 0 rgba(0, 0, 0, 0.205);
}

.cabecalho {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--black-off);
  border-bottom: solid 5px var(--grey);
}
.cabecalho .logo {
  width: 110px;
  height: 110px;
  margin: 15px 0 25px 0;
  border-radius: 50%;
  border: solid 3px var(--black-off);
}
.cabecalho .menu {
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
}
.cabecalho .menu li { margin: 0 7px; }
.cabecalho .menu li:first-child { margin-left: 0; }
.cabecalho .menu li:last-child { margin-right: 0; }
.cabecalho .menu li a {  
  color: var(--white);
  font-size: 14px;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.cabecalho .menu li a:hover { border-bottom: solid 2px var(--pink-dark); }
@media (max-width: 760px) {
  .cabecalho .logo {
    width: 90px;
    height: 90px;
  }
  .cabecalho .menu {
    margin-bottom: 15px;
  }
  .cabecalho .menu li a {
    font-size: 13px;
  } 
}

/* -- List -- */
.list {
  margin: 35px 0 60px 0;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.list article {
  height: 340px;
  width: 16%;
  background-color: var(--pink);
  border-radius: 8px;
  background-image: url('../img/default.png');
  background-size: cover;
  background-position: center;
  box-shadow: var(--shadow);
  border: solid 5px var(--black-off);
  opacity: 0.5;
}
.list article:nth-child(2) { height: 365px; width: 58%; opacity: 1; }
@media (max-width: 760px) {
  .list {
    width: 100%;
    margin-top: 20px;
  }
  .list article {
    width: 12%;
    height: 160px;
  }
  .list article:nth-child(2) { width: 60%; height: 180px; }
}

/* MAIN */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main section { text-align: center; }
main h3 {
  width: 30%;
  font-size: 19px;
  text-transform: uppercase;
  line-height: 65px;
  margin: 45px 30% 8px 30%;  
  border-bottom: solid 4px var(--pink-dark);
  border-radius: 0 0 10px 10px;
  font-family: 'Souce Code Pro', sans-serif;
}
@media (max-width: 760px) {
  main h3 {
    width: 70%;
    margin: 20px 15% 8px 15%;
    font-size: 15px;
    line-height: 35px;
    font-weight: bold;
    opacity: 0.8;
  }
}

/* -- CATEGORIAS -- */
.categorias {
  width: 80%;
  margin: 0 10% 20px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.categorias .tipo {
  flex-basis: 30%;
  padding: 35px 0;
  margin: 45px 0 0 0;
  border-radius: 14px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: var(--black-on);
  box-shadow: var(--shadow);
}
.categorias .tipo:hover {
  background: var(--black-off);
}
.categorias .tipo .wallpaper {
  width: 155px;
  height: 155px;
  margin-bottom: 10px;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50%;
  border: double 3px var(--pink-dark);
}
.categorias .tipo h4 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.categorias .tipo p {
  margin: 15px 50px 20px 50px;
  font-size: 15px;
  color: var(--pink);
}
.categorias .tipo button {
  padding: 7px 9px;
  border-radius: 4px;
  color: var(--white);
  background: var(--pink-dark);
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 760px) {
  .categorias {
    width: 95%;
    margin: 20px 2.5%;
  }
  .categorias .tipo {
    flex-basis: 80%;
    margin: 10px 0;
    padding-bottom: 25px;
  }
  .categorias p {
    margin: 15px 18px 0 18px;
    font-size: 15px;
    color: var(--pink);
  }
}

/* -- TRABALHOS -- */
.trabalhos {
  width: 80%;
  padding: 15px 10% 20px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.trabalhos .art {
  width: 30%;
  background:  var(--black-off);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--shadow);
  margin-top: 65px;
}
.trabalhos .art:nth-child(3) { margin-top: 25px; }
.trabalhos .art .image {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
  background-image: url('../img/default.png');
  background-size: cover;
  background-position: center;
}
.trabalhos .art .title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--white);
}
.trabalhos .art .desc {
  width: 90%;
  font-size: 13.8px;
  color: var(--pink);
  padding: 0 25px 25px 25px;
}
@media (max-width: 760px) {
  .trabalhos h3 {
    order: 1;
  }
  .trabalhos .art {
    order: 2;
    width: 100%;
    margin-top: 25px;
  }
  .trabalhos .art:nth-child(3) { margin-top: 25px; }
  .trabalhos .art .image {
    height: 150px;
  }
  
}

/* -- BOTTOM -- */
.footer {
  width: 100%;
  margin-top: 42px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.contato {
  width: 90%;
  padding: 35px 5%;
  background-color: var(--black-off);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.contato img {
  width: 150px;
  height: 150px;
  margin-bottom: 12px;
  border-radius: 50%;
}
.contato h3 {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 10px;
  color: var(--white);
}
.contato p {
  max-width: 400px;
  word-wrap: break-word;
  text-align: center;
  color: #bbbbbb;
  font-size: 16px;
  padding-bottom: 25px;
}
.contato ul { display: inline-flex; }
.contato ul li { margin: 0 5px; }
.contato ul li a span { color: var(--yellow); font-size: 30px; }
.autor {
  width: 100%;
  background-color: var(--grey);
  text-align: center;
}
.autor h4 {
  color: var(--white);
  line-height: 60px;
  font-size: 13.6px;
}
.autor h4 a {
  color: var(--yellow)
}
@media (max-width: 760px) {
  .footer {
    margin-top: 40px;
  }
}

.orcamento {
  position: fixed;
  background: var(--black-off);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.card {
  width: 350px;
  padding: 18px;
  border-radius: 10px;
  background: var(--black);
}
.card .titulo {
  width: 100%;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  line-height: 23px;
}
.card .titulo h4 {
  text-transform: uppercase;
  padding-left: 10px;
  border-left: solid 3px var(--pink-dark);
  font-size: 15px;
}
.card .titulo span {
  font-size: 20px;
  color: var(--pink-dark);
  opacity: 0.9;
  cursor: pointer;
}
.card .titulo span:hover { opacity: 1; }

@media (max-width: 760px) {
  .card {
    width: 85%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

.detalhes {
  height: 300px;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.detalhes hr {
  width: 100%;
  height: 2px;
  background-color: var(--black-on);
  opacity: 0.74;
  border-radius: 50%;
}
.detalhes .infos {
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.detalhes .infos img {
  width: 50%;
  border-radius: 50%;
  border: solid 2px var(--pink);
}
.detalhes .infos h4 {
  text-transform: uppercase;
  margin: 8px 0;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: var(--black-off);
} 
.detalhes .dados {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}
.detalhes .dados label {
  font-size: 12.5px;
  margin: 20px 0 6px 0;
  opacity: 0.8;
}
.detalhes .dados input {
  width: 50px;
  padding: 4px 8px 4px 11px;
  margin-bottom: 10px;
  background: none;
  border: solid 1px var(--black-off);
  border-radius: 5px;
}
.detalhes .dados b {
  font-size: 13px;
  margin-bottom: 13px;
  padding: 3px 7px;
  border-radius: 4px;
  background-color: var(--black-off);
}
.detalhes .dados button {
  padding: 5px 9px;
  background-color: var(--pink-dark);
  color: var(--white);
  border-radius: 6px;
  font-size: 11px;
  opacity: 0.9;
  cursor: pointer;
}
.detalhes .dados button:hover { opacity: 1; }
.detalhes .dados button span { margin-right: 2px; }
.detalhes p {
  font-size: 13.5px;
  color: var(--pink);
  text-align: center;
  padding: 0 20px;
}
@media (max-width: 760px) {
  .detalhes p {
    font-size: 12.8px;
    padding: 0 10px;
  }
}